In [173]:
import pandas as pd
import chardet
import numpy as np

In [174]:
loc = "Airbnb_Open_Data.csv"

def get_encoding(loc):
    """Reads encoding from given file."""
    with open(loc, "rb") as f:
        result = chardet.detect(f.read())
        return result["encoding"]
    
encoding = get_encoding(loc)
print(encoding)

MacRoman

In [175]:
def load_csv(loc):
    return pd.read_csv(loc,
                        converters= {"price": lambda x: x[1:]},
                        thousands=",",
                        encoding=encoding, # Richtiges Encoding für die CSV bekommen
                        na_values=[""] # NA-Values erkennen
                        ).rename(
                            columns={"Id": "id",
                                    "NAME": "name",
                                    "host id": "host_id",
                                    "host name": "host_name",
                                    "neighbourhood group": "neighbourhood_group",
                                    "country code": "country_code",
                                    "room type": "room_type",
                                    "service fee": "service_fee",
                                    "minimum nights": "minimum_nights",
                                    "number of reviews": "number_of_reviews",
                                    "last review": "last_review",
                                    "reviews per month": "reviews_per_month",
                                    "review rate number": "review_rate_number",
                                    "calculated host listings count": "calculated_host_listings_count",
                                    "availability 365": "availability_365"}
                        )


df = load_csv(loc)

/var/folders/00/02tsycp12q53nd49sw0v4c_00000gq/T/ipykernel_32656/2329263265.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(loc,

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102599 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [177]:
df.describe()

,id,host_id,lat,long,Construction year,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

# Duplikate ausfindig machen und entfernen

In [178]:
print(df.duplicated().sum())
display(df[df.duplicated()].head(5))

541

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
102058,35506831,Master Bedroom with private Bathroom & Balcony,55110690425,unconfirmed,UZeyir,Queens,Maspeth,40.74056,-73.90635,United States,...,$141,1.0,1.0,11/14/2021,0.27,3.0,1.0,339.0,NaN,NaN
102059,35507383,Cozy 2 br in sunny Fort Greene apt,80193772189,verified,Sally,Brooklyn,Fort Greene,40.68701,-73.97555,United States,...,$130,3.0,38.0,11/13/2021,0.27,3.0,1.0,0.0,NaN,NaN
102060,35507935,Duplex w/ Terrace @ Box House Hotel,72991962259,verified,The Box House Hotel,Brooklyn,Greenpoint,40.73756,-73.95350,United States,...,$181,3.0,10.0,11/13/2021,0.08,3.0,30.0,32.0,NaN,NaN
102061,35508488,"Cozy, clean Greenpoint room with yard access",74975156081,verified,Dawn,Brooklyn,Greenpoint,40.72516,-73.95004,United States,...,$118,30.0,38.0,11/13/2021,0.34,5.0,2.0,324.0,NaN,NaN
102062,35509040,2BR XL Loft: Cleaning CDC guidelines implemented,85844415221,unconfirmed,Vida,Brooklyn,Greenpoint,40.72732,-73.94185,United States,...,$71,30.0,13.0,11/13/2021,0.14,4.0,28.0,336.0,NaN,NaN

In [ ]:
df = df.drop_duplicates()
len(df)

102058

# Ähnliche Zeilen anschauen

In [ ]:
df[df.duplicated(subset=["lat", "long", "price", "name"], keep=False)].sort_values(["lat", "long", "price", "name"]).to_csv("Airbnb_possible_duplicates.csv")

In [ ]:
df = df.drop_duplicates(subset=["lat", "long", "price", "name"])

# Was kostet ein Airbnb in NY durchschnittlich?

In [ ]:
df["price"].isna().sum()

np.int64(0)

In [ ]:
df["minimum_nights"].describe()

count    68990.000000
mean         8.715350
std         34.615766
min      -1223.000000
25%          1.000000
50%          3.000000
75%          6.000000
max       5645.000000
Name: minimum_nights, dtype: float64

In [ ]:
df = df[df["minimum_nights"]> 0]
df["minimum_nights"] = df["minimum_nights"].astype(int)

In [ ]:
df = df.dropna(subset="service_fee")

#  Schauen ob alles mit $ Zeichen beginnt

In [ ]:
len(df["service_fee"].str.match(r"^\$")) == len(df["service_fee"])
df["service_fee"] = df["service_fee"].str.replace("$", "").astype(int)

# Durschnittspreis

In [187]:
df["price"] = df["price"].str.replace(",", "")
df["price"] = df["price"].replace("", np.nan)
df = df.dropna(subset="price")
df["price"] = df["price"].astype(int)

In [190]:
mean_price = (df["price"] * df["minimum_nights"] + df["service_fee"]).mean()
print(mean_price)
min_price = (df["price"] * df["minimum_nights"] + df["service_fee"]).min()
print(min_price)

5548.022443380808
60

In [191]:
df["price"].mean()

np.float64(624.5255953770721)

In [ ]:
def mean_price_for_searched_nights(df, amount_of_nights):
    df_amount_nights = df[df["minimum_nights"] <= amount_of_nights]
    return (df_amount_nights["price"] * df_amount_nights["minimum_nights"] + df_amount_nights["service_fee"]).mean()

mean_price_for_searched_nights(df, 7)

np.float64(1726.2147479252733)